/* Encabezado */

.cont-enc{
    width: 100%;
    max-height:100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom-style: dashed;
    border-color: #B52C2C;
}

.img-enc{
    width: 80%;
    height: 80%;
    max-width: 270px;
    max-height: 90px;
}

.line-enc{
    width: 100%;
    height: 2px;
    background-color: #B52C2C;
}

/* Navegacion */

.cont-nav{
    margin-top: 5px;
    width:100%;
    height: 40px;
    background-color: #B52C2C;
    display: flex;
    align-items:center;
    justify-content: space-evenly;
}

.img-cart{
    width:27px;
    height: 27px;
}

.ini-nav{
    color: white;
}

.pro-nav{
    color: white;
}

/* Bienvenida */

.cont-bie{
    margin: 0 auto;
    width:240px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.tit-bie{
    width: 240px;
    margin-top: 20px;
    text-align: center;
    font-size:20px;
    font-weight: 700;
    border-bottom-style: solid;
    border-color: #B52C2C;

}

.cont-bie p{
    text-align: justify;
    margin-top: 10px;
    margin-bottom: -10px;
    line-height: 1.5;

}

/* Descubrir */

.gal-des{
    background-color: #a67e7e;
    width:240px;
    height:65px;
    margin-top: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.ele-gal-des{
    background-color:#D9D9D9 ;
    width: 40px;
    height: 52px;
    display: flex ;
    justify-content: center;
    align-items: center;
}

.img-gal{
    width: 95%;
}

/* Contacto */

.cont-con{
    width: 100%;
    height: 60px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width:240px;
    margin-top: 10px;

}

/* Pie */

.cont-pie{
    width: 100%;
    height: 35px;
    background-color:#5F5F5F;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
}
